<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="ulfTextContent" style="min-width:100%;font-weight:lighter; color:#777777; font-size: 14px;" id="{productId}" >
  <tbody>
  <tr>
    <td valign="top" width="200"><a href="{url}"><img src="{customField1}" class="{customField6}" alt="" width="200" style="width: 100%; max-width: 200px;" height="auto"/></a></td>
    <td class="horizontal-spacing" width="5%"></td>
    <td valign="top">
      <table cellpadding="0" cellmargin="0" border="0" style="border-collapse: collapse;">
        <tbody>
        <tr><td><h3 style="font-size: 16px; padding-bottom: 0px; font-style: normal; font-weight: bold;"><a href="{url}" style="color: #333333;">{name length='100'}</a></h3></td></tr>
        <tr class="vertical-spacing" height="5" style="display: block;"><td></td></tr>
        <tr><td>Udbyder: <a href="{customField3}/user/{customField5}" style="color: #17858C;">{customField4}</a></td></tr>
        <tr class="{customField2}"><td>Dette forløb er gratis</td>
        <tr class="vertical-spacing {customField2}" height="10"><td></td></tr>
        <tr class="vertical-spacing" height="5" style="display: block;"><td></td></tr>
        <tr><td>{description length='200'}</td></tr>
        <tr class="vertical-spacing" height="5" style="display: block;"><td></td></tr>
        <tr><td>Emne: {categoryName}</td></tr>
        <tr class="vertical-spacing" height="5" style="display: block;"><td></td></tr>
        <tr><td><a title="Se forløb" href="{url}" target="_blank" style="color: #17858C;">Se forløb</a></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr class="vertical-spacing" height="30"><td></td></tr>
  </tbody>
</table>
